@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Definition Checker</h1>
    <p class="lead">Definition checker is a tool used for saving and practising terminology.</p>
    <p><a href="/terms" class="btn btn-primary btn-lg">Terms &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please start by greating an account with your email address. When you have created an account, you can save your terminology in the Terms tab.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Using the system</h2>
        <p>You can easily find your saved terms by searching in the searchbar at the terms tab. This search function will search in every value and description. It will even search all extra terms you are trying to find.</p>
        <p><a class="btn btn-default" href="/terms">Terms &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Disclaimer</h2>
        <p>
            Definition checker is solely used for the sake of learning, saving and practising terminology.
            It is in no way intended to be used maliciously.
        </p>
    </div>
</div>